/* Tablet Layout */
@media only screen and (min-width:200px) and (max-width:991px){
    .social_area {
        max-width: 460px;
        padding-top: 14px;
    }
    .inner_menu{background: none;}
    .mean-container .mean-nav{
        margin-top: 0;
        width: 80%;
    }
    .inner_headr{
        padding: 20px 0;
    }
    #slider_area{
        margin-top: 0;
    }
    .inner_banner h2 {
        font-size: 60px;
    }
    .child_work {
        width: 30%;
    }
    .child_service .service_text p {
        margin-left: 10px;
    }
    .child_service .service_text h3 {
        margin-left: 10px;
        margin-top: -4px;
    }
}
/* Mobile Layout */
@media only screen and (min-width:200px) and (max-width:480px){
    .mini_menu {
        width: 100%;
        margin-bottom: 10px;
    }
    .mini_menu ul {
        margin-right: -27px;
        text-align: center;
    }
    .mini_menu ul li a{
        font-size: 12px;
    }
    .search_area, .logo_area{
        float: none;
        width: 240px;
        margin: 0 auto;
    }
    .social_area ul{
        text-align: center;
    }
    .social_area ul li{
        display: inline-block;
        margin: 0 5px;
    }
    .inner_banner h2 {
        font-size: 30px;
    }
    .child_work {
        width: 98%;
        margin: 0 auto;
    }
    .child_footer {
        margin: 0 auto;
        width: 98%;
    }
    
}